<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav id="navegacion" class="bg-blue-900 h-16 right-0 left-0"></nav>

    <div class="pt-8 h-screen flex justify-center items-center flex-col px-4 gap-4 md:flex-row lg:w-3/5 mx-auto md:gap-8">                     
        <h1 class="text-blue-700 font-bold text-2xl md:text-4xl">Restaurant App</h1>
        <div>
            <p class="text-justify py-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In sapiente libero doloribus ipsam minus non commodi dicta possimus velit culpa tempore quia laudantium voluptatem facere sit autem, quas ratione nihil!</p>
            <div>
                <a href="/login" class="bg-blue-950 text-white font-bold hover:bg-blue-700 py-2 px-4 rounded-lg transition ease-in-out">login</a>
                <a href="/registro"class="bg-blue-700 text-white font-bold hover:text-black hover:bg-blue-300 py-2 px-4 rounded-lg transition ease-in-out">Registro</a>
            </div>
        </div>
    </div>
    
    <script src="../components/nav.js"></script>
</body>
</html>